
{{!-- note es enviado desde note.controller.js -> "res.render('notes/edit-note', {note:note});" --}}

{{!-- <pre>{{notePet}}</pre> --}}

<div class="col md-4 mx-auto">

    <div class="card border-primary">

        <div class="card-header">
            <h4>Edit</h4>
        </div>

        <div class="card-body">
            
            <form action="/notespet/edit/{{notePet.id}}?_method=put" method="post">
                
                <input type="hidden" name="_method" value="put">

                <div class="form-group">
                    <input type="text" name="title" class="form-control" value="{{notePet.title}}">
                </div>

                <div class="form-group">
                    <textarea name="description" class="form-control">{{notePet.comments}}</textarea>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        Save
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>