

<div class="col-md-4 mx-auto">

    <div class="card text-center">

        <div class="card-header">
            <h3>New Job</h3>
        </div>

        <div class="card-body">

            <form action="/clients/new-client" method="post">

                <div class="form-group">

                    <input 
                        type="text" 
                        name="First_Name"
                        class="form-control"
                        placeholder="Company"
                        autofocus
                    >
                    <br>
                    <input 
                        type="text" 
                        name="Last_Name"
                        class="form-control"
                        placeholder="Well"
                    >
                    <br>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block">
                            save
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>

</div>