<div class="jumbotron mt-4_">

        <div class="card text-center">

                {{!-- <div class="card-header">Featured</div> --}}

                <div class="card-body">
                        <h3 class="card-title">Sniper</h3>

                        <img src="https://res.cloudinary.com/metacortexjohn/image/upload/v1658373762/Logo_Metacortex_fzh4by.png"
                                class="rounded-circle_ mx-auto d-block m-4" width="200" />

                        {{!-- <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem
                                perferendis neque vitae dolorem. Sed, totam! Quisquam laudantium, vero odit
                                fugiat atque accusamus corrupti temporibus. Deleniti qui placeat soluta nemo
                                rem.</p> --}}
                </div>

                <div class="card-footer text-muted">
                        Customisable plots to check your wellbore while being drilled or completed.
                </div>
        </div>

        {{!--
        <hr class="my-4" />
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ad commodi
                eaque! Voluptate corporis velit quasi repellendus dignissimos, aliquam
                earum.</p> --}}
</div>