
<div class="row">

    <div class="col-md-4 mx-auto">
        
        <div class="card">

            <div class="card-header">
                <h4>Account Login</h4>
            </div>

            <img src="https://res.cloudinary.com/metacortexjohn/image/upload/v1658373762/Logo_Metacortex_fzh4by.png"
                class="rounded-circle_ mx-auto d-block m-4" width="200">
                
            <div class="card-body">

                <form action="/users/signin" method="post">

                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>

                    <button class="btn btn-primary btn-block">
                        OK
                    </button>

                </form>

            </div>
        </div>
    </div>
</div>